<% if user_signed_in? %>

  <%= render @posts %>

<% else %>


<div class="hero-unit">
  <h1>Quer vender seu carro, sua moto, seu avião ou seu barco?</h1>
  <p>Carecia.com - O lugar ideal para o seu negócio.</p>

<p>
    <a class="btn btn-primary btn-large">
      Saiba mais
    </a>
  </p>

</div>

<% end %>
