<% provide(:title, "Cadastro efetuado com sucesso") %>
<div class='page-header'>
  <h1>Obrigado, seu cadastro foi efetuado com sucesso!</h1>
</div>

<h3>Para enviar um novo anúncio, <%= link_to 'clique aqui', new_post_path %>.</h3>
