<% provide(:title, "Termos e condições de uso") %>
<div class='page-header'>
  <h1>Termos e condições de uso</h1>
</div>

<h3>Privacidade</h3>
<p>Levamos a privacidade de nossos usuários à sério e garantimos que todas as senhas
armazenadas em nosso banco de dados são criptografadas.</p>

<h3>Email</h3>
<p>Emails são solicitados para que seja possível haver uma comunicação entre o usuário e o site CARECIA.COM.</p>
<p>Os emails não serão revelados e nem vendidos à pessoas e ou empresas terceiras em nenhuma hipótese.</p>

<h3>Cookies</h3>
<p>O CARECIA.COM utiliza-se de cookies para que seja possível armazenar a senha pessoal em um arquivo temporário de cada usuário. Os cookies podem ser desativados à qualquer momento no programa utilizado para efetuar a navegação no site.</p>

<h3>Imagens</h3>
<p>O CARECIA.COM diferente de outros sistemas para internet do gênero, obriga aos usuários que desejarem publicar um anúncio, que este contenha no mínimo uma imagem do veículo à ser anunciado.</p>
<p>O CARECIA.COM não se responsabiliza pelo conteúdo publicado nas imagens, ficando este a cargo do usuário responsável pelo envio do mesmo.</p>

<h3>Marcas</h3>
<p>Todas as marcas divulgadas no CARECIA.COM são de seus respectivos proprietários.</p>

<h3>Uso</h3>
<p>Dá-se o direito de uso à todo e qualquer indivíduo capaz de realizar operações básicas com um computador, smartphone, tablet e outros.</p>

<h3>Anúncios</h3>
<p>Todos os anúncios aqui apresentados passam por uma pré-aprovação. Isso significa que anúncios mal elaborados, sem fotos, com valores irreais ou por outros fatores que a equipe do CARECIA.COM julgar inválidos, não serão publicados.</p>

<ul>
  <li>
    <h4>Tempo para pré-aprovação</h4>
    <p>Não existe um tempo certo definido para que um anúncio seja aprovado. Cabendo este somente à disponibilidade da equipe responsável.</p>
  </li>
  <li>
    <h4>Validade</h4>
    <p>À princípio os anúncios terão validade de aproximadamente 3 meses. Após esse período o anúncio será removido de nossa base de dados.</p>
  </li>
</ul>

<br />
<p>O CARECIA.COM se reserva ao direito de modificar o conteúdo deste documento caso seja necessário a qualquer momento.</p>


<br /><br />
<p>Cordialmente,</p>
<br />
<h5>Equipe CARECIA.COM</h5>
<br /><hr />
<p>Última atualização em 12/03/2012.</p>
