<div class="hero-unit">
  <% @item3 = ["seu caminhão", "seu avião"].shuffle.first %>
  <% @item4 = ["seu jet-ski", "seu barco", "sua lancha"].shuffle.first %>
  <h1>Quer vender seu carro, sua moto, <%= @item3 %> ou <%= @item4 %>?</h1>
  <p>Carecia.com - O lugar ideal para o seu negócio.</p>
  <div class='center'><%= link_to "Cadastre-se grátis", new_user_registration_path, :class => 'btn btn-primary btn-large' %></div>
</div>


      <!-- columns -->
      <div class="row">
        <div class="span4">
          <h2>Foco</h2>
           <p>Quando se trata de anunciar o seu veículo, por quê perder tempo olhando coisas que simplesmente não te interessam?</p><p>No CARECIA.COM nós mantemos o foco por você.</p>
          
        </div>
        <div class="span4">
          <h2>Facilidade, Usabilidade</h2>
           <p>Navegar entre diversos anúncios tem que ser uma experiência agradável.</p>
           <p>Anunciar deve ser rápido e simples. Sem complicações.</p>
          
       </div>
        <div class="span4">
          <h2>Disponibilidade</h2>
          <p>Seu anúncio na internet deve estar disponível a qualquer hora do dia ou da noite, faça chuva ou faça sol.</p>
          
        </div>

        <div class="span12 center">
          <hr />
          <h3>Estamos no Twitter</h3>
          <p>
            <a href="https://twitter.com/Carecia" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Seguir @Carecia</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </p>
        </div>

      </div>
