$('#remote-message').empty();

$('#remote-message').fadeToggle('slow', function() {

  $('#remote-message').append("<%= escape_javascript( 
      simple_format("<span class='label label-info'>Anuncio aprovado!</span>") 
    ) %>");

  $('#status').fadeIn(1500, function() {
      $('#status').empty();
      $('#status').append("<span class='label label-success'>Ativado!</span>");
  });

});

$('#remote-message').fadeOut(3000);
