<h1>Anuncios mais recentes</h1>

<ul class="unstyled">
  <% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
  <li><%= post.description %></li>
  <li>Enviado hรก <%= time_ago_in_words(post.created_at) %></li>
  <% end %>
</ul>

<%= link_to 'New', new_post_path, :class => 'btn btn-primary' %>
