<% provide(:title, "Anúncio enviado com sucesso") %>
<div class='page-header'>
  <h1>Obrigado, seu anúncio foi enviado com sucesso!</h1>
</div>

<h3>Nossa equipe irá analisar o conteúdo do seu anúncio e se estiver tudo preenchido corretamente, será publicado rapidamente.</h3>

<br />
<h4>Informamos que este processo pode levar até 3 dias para ser concluído.</h4>

<p>Eventualmente, caso seu anúncio não seja publicado dentro do prazo limite, favor entrar em contato conosco pelo e-mail: <a href="mailto: contato@carecia.com">contato@carecia.com</a>
