<p>Bem vindo(a) <%= @resource.email %>!</p>

<p>Para prosseguir a confirmarção do email de sua conta, clique no link abaixo.</p>

<p><%= link_to 'Confirme minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
