<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para modificar a sua senha, e você pode prosseguir clicando no link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solitiou esta mensagem, por favor ignore este email.</p>
<p>Sua senha não será modificada até que você acesse o link acima e crie uma nova.</p>
